<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>route</key>
	<string></string>
	<key>gateway</key>
	<dict>
		<key>transport</key>
		<string>socketio</string>
		<key>xmpp</key>
		<dict>
			<key>allowSelfSignedCertificates</key>
			<string>NO</string>
			<key>allowSSLHostnameMismatch</key>
			<false/>
			<key>runInBackground</key>
			<true/>
		</dict>
		<key>socketio</key>
		<dict>
			<key>endpoint</key>
			<string>localhost</string>
			<key>ports</key>
			<array>
				<string>8080</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
